PORT=3000
FRONTEND_ORIGINS=http://localhost:4200,http://localhost:52520
DB_HOST=localhost
DB_PORT=5432
DB_NAME=proyectos_tareas
DB_USER=postgres
DB_PASSWORD=postgres
JWT_SECRET=cambia_este_secreto
JWT_EXPIRES_IN=1d
